##
## /etc/systemd/system/gunicorn.service
##

[Unit]
Description=gunicorn to serve flask-project
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/
ExecStart=/usr/bin/gunicorn3 -b 0.0.0.0:8080 --chdir app/ server:app

[Install]
WantedBy=multi-user.target
